.fixed-con {
    z-index: 9724790009779558 !important;
    background-color: #f7f8fc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
    z-index: 9724790009779 !important;
    top: 0;
    left: unset;
    right: -5px;
    display: none !important;
    border-radius: 50%;
    border: 2px solid gold;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
    width: 80px;
    height: 80px;
}

#google_translate_element select {
    background-color: transparent;
    color: aliceblue;
    border: none;
    font-size: 1.2em;
    border-radius: 3px;
    padding: 6px 8px
}

.navbar-mobile .goog-te-combo{
    color: black !important;
}

#google_translate_element select option {
    background-color: #37517e !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame {
    display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
}

.goog-text-highlight {
    background: transparent !important;
    box-shadow: none !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important;
}

#google_translate_element {
    margin-top: 20px;
}
iframe {
    display: none;
}
body{top:0!important;}