{% extends 'moderator/base.html' %}

{% load static %}

{% block head_static %}
<link href="{% static 'skote/assets/libs/admin-resources/rwd-table/rwd-table.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_static %}
    <script src="{% static 'skote/assets/libs/admin-resources/rwd-table/rwd-table.min.js' %}"></script>
    <script src="{% static 'skote/assets/js/pages/table-responsive.init.js' %}"></script>
{% endblock %}





{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title"> Barcha arizalar ro'yxati </h4>

                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                            <tr>
                                <th> Ariza mavzusi </th>
                                <th data-priority="1"> Yuborilgan vaqt </th>
                                <th data-priority="2"> Muallif ismi </th>
                                <th data-priority="3"> Muallif familyasi </th>
                                <th data-priority="4"> Muallif emaili </th>
                                <th data-priority="5"> Holati </th>
                                <th data-priority="6"> Tasdiqladi </th>
                                <th data-priority="7"> Fayl </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for i in data %} 
                                    <tr>
                                        <td> 
                                            <a href="{% url 'petition_detail' i.pk %}">
                                                {{i.title}}
                                            </a>
                                        </td>
                                        <td> {{i.date_time}} </td>
                                        <td> {{i.first_name}} </td>
                                        <td> {{i.last_name}} </td>
                                        <td> {{i.email}} </td>
                                        <td> 
                                            {% if i.status == 'not' %}
                                               <p class="text-primary"> Ko'rib chiqilmadi</p> 
                                            {% elif i.status == 'ok' %}
                                                <p class="text-success">Tasdiqlangan</p>
                                            {% elif i.status == 'warning' %}
                                                <p class="text-warning">Qayta ko'rib chiqishga yuborildi</p>
                                            {% elif i.status == 'error' %}
                                                <p class="text-danger">Maqullanmadi</p>
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if i.is_viewed == True %}
                                                {{i.confirmed}}
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td> 
                                            <a href="{{i.file.url}}" download="true">
                                                <i class="bx bx-download"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div> 
</div> 
{% endblock %}