{% extends 'moderator/base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-4">
                        <img src="{% static 'image/petition.jpg' %}" width="100px">
                    </div>

                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-truncate font-size-15"> Ariza haqida batafsil </h5>
                        <p class="text-muted">{{object.title}}</p>
                    </div>
                </div>

                <h5 class="font-size-15 mt-4"> Ariza matni: </h5>

                <p class="text-muted">
                    {{ object.description }}
                </p>
                <br>
                <div class="text-muted mt-4">
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> <strong>Ism: </strong> {{object.first_name}} </p>
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> <strong>Familya: </strong> {{object.last_name}}</p>
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> <strong>E-mail: </strong> {{object.email}}</p>
                    <p><i class="mdi mdi-chevron-right text-primary me-1"></i> <strong>Arizani: </strong> <a href="{% url 'moderator_detail' object.confirmed.pk %}">{{object.confirmed}}</a> ko'rib chiqdi</p>
                </div>
                <div class="row task-dates">
                    <div class="col-sm-4 col-6">
                        <div class="mt-4">
                            <h5 class="font-size-14"><i class="bx bx-calendar me-1 text-primary"></i> Yuborilgan sana </h5>
                            <p class="text-muted mb-0">{{object.date_time}}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="mt-4">
                            <h5 class="font-size-14"><i class="bx bxs-file-pdf me-1 text-primary"></i> Fayl </h5>
                            <p class="text-muted mb-0"> 
                                <a href="{{object.file.url}}" class="text-primary" download="true">
                                    Yuklab olish
                                </a>     
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="mt-4">
                            <h5 class="font-size-14"><i class="bx bxs-dashboard me-1 text-primary"></i> Holati </h5>
                            <p class="text-muted mb-0">
                                {% if object.status == 'not' %}
                                   <p class="text-primary"> Ko'rib chiqilmadi</p> 
                                {% elif object.status == 'ok' %}
                                    <p class="text-success">Tasdiqlangan</p>
                                {% elif object.status == 'warning' %}
                                    <p class="text-warning">Qayta ko'rib chiqishga yuborildi</p>
                                {% elif object.status == 'error' %}
                                    <p class="text-danger">Maqullanmadi</p>
                                {% else %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if object.is_viewed == False %}
<div class="row">
    <div class="col-lg-4 ">
        <div class="card card-body text-center">
            <h4 class="card-title"> Maqolani rad etish </h4>
            <p class="card-text">
                Ushbu holatda maqola muallifi email manziliga rad etilganlik haqida xabar boradi.
            </p>
            <a href="{% url 'petition_not_access' object.pk %}" class="btn btn-primary waves-effect waves-light"> Rad etish </a>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="card card-body text-center">
            <h4 class="card-title"> Xatoliklar borligi haqida ogohlantirish </h4>
            <p class="card-text">
                Maqolada kamchiliklar bo'lgan holda ushbu kamchiliklar haqida muallifga xabar berish uchun tugmani bosing
            </p>
            <a href="{% url 'petition_warning' object.pk %}" class="btn btn-primary waves-effect waves-light"> Xabar yuborish </a>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="card card-body text-center">
            <h4 class="card-title"> Tasdiqlash </h4>
            <p class="card-text">
                Ushbu tugmani bosish orqali siz maqolani tasdiqlaysiz va u saytga chiqariladi. 
            </p>
            <a href="{% url 'petition_accesss' object.pk %}" class="btn btn-primary waves-effect waves-light"> Tasdiqlash !</a>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-4">
        <div class="card card-body text-center">
            <h4 class="card-title"> Ushbu arizani o'chirish </h4>
            <p class="card-text">
                Ushbu tugmani bosish orqali arizaga tegishli barcha ma'lumotlar o'chib ketadi. 
                Ma'lumotlarni qayta tiklab bo'lmaydi.
            </p>
            <a href="{% url 'petition_delete' object.pk %}" class="btn btn-danger waves-effect waves-light"> Tasdiqlash !</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}